<footer class="footer-area">

	<div class="container">
		<div class="subscribe-area">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-12">
					<div class="subscribe-content">
						<h2>RECEVEZ NOTRE NEWSLETTER</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>

				<div class="col-lg-6 col-md-12">
					<div class="subscribe-form">
						<form class="newsletter-form" data-toggle="validator">
							<input type="email" class="input-newsletter" placeholder="Renseignez votre email" name="EMAIL" required autocomplete="off">

							<button type="submit">ok<i class="flaticon-right-chevron"></i>
							</button>
							<div id="validator-newsletter" class="form-result"></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<div class="logo">
						<a href="/"><img src="/img/white-logo.png" alt="image"></a>

						<p>AKSAM ASSURANCES : Etre accompagné par un expert pour mieux choisir vos contrats  d'assurances.
						</p>
					</div>

					<ul class="social">
						<li>
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h3>Nos Solutions</h3>

					<ul class="footer-quick-links">
						<li>
							<a href="#">Assur Transporteur</a>
						</li>
						<li>
							<a href="#">Assur VTC</a>
						</li>
						<li>
							<a href="#">Assur Taxi</a>
						</li>
						<li>
							<a href="#">Assur Decennale</a>
						</li>
						<li>
							<a href="#">Assur Habitation</a>
						</li>
						<li>
							<a href="#">
								Assurance Auto</a>
						</li>

					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-sm-3 offset-md-3">
				<div class="single-footer-widget">
					<h3>Contact Info</h3>

					<ul class="footer-contact-info">
						<li>
							<span>Adresse:</span>Aksam ASSURANCES – 10 rue de Penthièvre 75008 PARIS</li>
						<li>
							<span>Email:</span>
							<a href="#">contact@aksam-assurances.fr</a>
						</li>
						<li>
							<span>Tel:</span>
							<a href="#">0182834800
							</a>
						</li>
						<li>
							<span>Fax:</span>
							<a href="#">0182834801</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="copyright-area">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-6 col-md-6">
					<p>
						<i class="far fa-copyright"></i>
						2022 Tous droits réservés
						<a href="/" target="_blank">AKSAM-assurances</a>
					</p>
				</div>

				<div class="col-lg-6 col-sm-6 col-md-6">
					<ul>
						<li><a href="#">Entreprise soumise au contrôle de l'ACPR</a></li>
						<li><a href="#">Plan du site</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="go-top">
	<i class="fas fa-chevron-up"></i>
	<i class="fas fa-chevron-up"></i>
</div>
