<header class="header-area header-style-four">

	<div class="top-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-4 col-md-12">
					<div class="top-header-logo">
						<a href="/">
							<img src="/img/logo.png" alt="aksam assurances">
						</a>
					</div>
				</div>

				<div class="col-lg-8 col-md-12">
					<div class="top-header-right-side">
						<ul>
							<li class="d-none">
								<div class="icon">
									<i class="flaticon-email"></i>
								</div>
								<span>E-mail:</span>
								<a href="#">contact@aksam-assurances.fr</a>
							</li>

							<li>
								<div class="icon">
									<i class="flaticon-call"></i>
								</div>
								<span>Besoin d'aide?</span>
								<a href="#">0182834800</a>
							</li>

							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar-area">
		<div class="aksam-responsive-nav">
			<div class="container">
				<div class="aksam-responsive-menu">
					<div class="logo">
						<a href="/">
							<img src="/img/white-logo.png" alt="aksam assurances">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="aksam-nav">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="/">
						<img src="/img/white-logo.png" alt="aksam assurances">
					</a>

					<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a href="/" class="nav-link">
									Accueil</a>

							</li>

							<li class="nav-item">
								<a href="#" class="nav-link">Assurances
									<i class="flaticon-down-arrow"></i>
								</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a href="devis-assurance-vtc" class="nav-link">Assurance VTC</a>
									</li>

									<li class="nav-item">
										<a href="assurance-transport-marchandise" class="nav-link">Assurance transport marchandise


										</a>
									</li>
									<li class="nav-item">
										<a href="complementaire-sante-groupe" class="nav-link">Complémentaire santé groupe</a>
									</li>

									<li class="nav-item">
										<a href="multirisques-professionnelle" class="nav-link">Multirisques professionnelle</a>
									</li>
									<li class="nav-item">
										<a href="assurance-decennale" class="nav-link">Assurance Décennale</a>
									</li>
									<li class="nav-item">
										<a href="assurance-rc-pro" class="nav-link">Assurance RC pro</a>
									</li>
								</ul>


							</li>


							<li class="nav-item">
								<a href="mentions-legales" class="nav-link">Mentions légales</a>
							</li>
							<li class="nav-item">
								<a href="guide-des-assurances" class="nav-link">Guide de l’assurance</a>

							</li>


							<li class="nav-item">
								<a href="#reclamation" class="nav-link">Réclamation</a>
							</li>


						</ul>
					</li>

				</ul>

				<div class="others-option">
					<div class="option-item">

						<i class="close-btn flaticon-cross-out"></i>


					</div>

					<div class="burger-menu">
						<i class="flaticon-menu"></i>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div></div></header>
