<div class="sidebar-modal">
	<div class="sidebar-modal-inner">
		<div class="sidebar-about-area">
			<div class="title">
				<h2>a propos</h2>
				<p>AKSAM Assurances, cabinet de courtage en assurances pour les professionnels.
															Créée en 2019, nous mettons l’expertise de nos collaborateurs dans le domaine de
															distribution de solutions d’assurances, au service des professionnels et entreprise avec
															comme objectif une efficacité au quotidien pour une satisfaction certaine.</p>
			</div>
		</div>

		<div class="sidebar-instagram-feed">
			<h2>Nos Assurances</h2>

			<ul>

				<li><a href="#"><img src="/img/services-image/1.jpg" alt="image"></a></li>
				<li><a href="#"><img src="/img/services-image/2.jpg" alt="image"></a></li>
				<li><a href="#"><img src="/img/services-image/3.jpg" alt="image"></a></li>
				<li><a href="#"><img src="/img/services-image/4.jpg" alt="image"></a></li>
				<li><a href="#"><img src="/img/services-image/5.jpg" alt="image"></a></li>
				<li><a href="#"><img src="/img/services-image/6.jpg" alt="image"></a></li>
			</ul>
		</div>

		<div class="sidebar-contact-area">
			<div class="sidebar-contact-info">
				<div class="contact-info-content">
					<h2>
						<a href="tel:+0881306298615">0182834800</a>
						<span>ET</span>
						<a href="mailto:contact@aksam.fr">contact@aksam-assurances.fr

						</a>
					</h2>

					<ul class="social">
						<li>
							<a href="#" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<span class="close-btn sidebar-modal-close-btn">
			<i class="flaticon-cross-out"></i>
		</span>
	</div>
</div>
